<li>
  <span class="content">
    <%= question.title %>
  </span>
  <span class="timestamp">
    <p>Question asked <%= time_ago_in_words(question.created_at) %> ago.</p> <!-- should be number of questions, number of views -->
  </span>

</li>