<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Classfuku</h1>

		<p><h5>("fuku" = lucky in Japanese.)</h5></p>  <p class="span9 offset1">Classfuku is a <b>chat-based question and answer site</b> built to help you get "lucky" in your classes.  <p>
		<div class="masthead">
			<%= link_to "Give it a Try", school_courses_path(School.first), class: "btn btn-primary btn-large" %>
		</div>

	</div>
</div>


<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
    	<p>Classfuku is in alpha testing, and currently only avaliable to students in <%= link_to "PSYC-001 Spring", school_course_path(School.first, Course.first) %> semester.</p>
    </ul>
  </div>
</div>


<div class="container">
	<div class="marketing">
		<h1>Introducing Classfuku</h1>
		<p class="marketing-byline">Inapproiate line involving the word "fuku".</p>
	</div>
</div>





<div class="container">
	<div class="row">
	  <div class="span4">
	  	<div><h3><center>We stay up late to answer your questions</center></h3></div>
	  	<p></br><center>"All" questions answered, and we mean it: if no one answers your question 6 hours after its posted, our <%= link_to "team", "#" %> will <b> personally look into your question and help you answer it. </b></center>
	  </div>
	  <div class="span4">
	  	<div><h3><center>No dumb questions. No, really.</center></h3></div>
	  	<p></br></br><center>Classfuku is as anonymous as you choose to be, so you can focus on asking questions, and not worry about being judged on what you ask.</center>
	  </div>
	  <div class="span4">
	  	<div><h3><center>Your professor don't actually know about Classfuku</center></h3></div>
	  </br><p><center>Unlike <i>Blackboard</i> or <i>Piazza</i>, you (the students) run the content on Classfuku, not the professor.</center></p>
	  </div>
	</div>
</div>