<div class="container">

	<div class="row">
	  <!-- User stats -->
	  <aside class="span4">
	    <section>
	      <h1>
	        <%= gravatar_for @user %>
	        <%= @user.username %>
	      </h1>
	    </section>
	    <section>
	    </section>
	  </aside>
	</div>

	  <!-- questions -->
	<div class="span8">
  	</div>	
</div>
