<% provide(:title, @user.username) %>
<div class="container">


	<div class="row">
	  <!-- User stats -->
	  <aside class="span4">
	    <section>
	      <h1>
	        <%= gravatar_for @user %>
	        <%= @user.username %>
	      </h1>
	    </section>
	    <section>
	    	
	    </section>
	  </aside>

	  <!-- questions -->
	<div class="span8">
		<p></p>
		<br></br>
		<h2 style="text-align: right;">Sup <%= @user.username %>, find your <%= link_to "school", schools_path %> to get started.</h2>
  	</div>	
</div>
