<div class="container">
	<div class="span8">
		<div class="main-heading">
			<br></br>
		
		<p><h1>Welcome!</h1></p>
		<p><h3>To get started, select the school you currently attend:</h3></p>
		</div>



		<ol class="microposts">
			<% @schools.each do |school| %>
			<li><h5><%= link_to school.name, school %></h5></li>
			<% end %>
			<li><h5><%= "Columbia - coming soon" %></h5></li>
		</ol>
	</div>

</div>