<div class="container">
	<h1><center>All schools</center></a></h1>


	<ul class="users">
		<% @schools.each do |school| %>
			<li><%= link_to school.name, school_courses_path(school) %></li>
		<% end %>	

	</ul>

	Don't see your school here?  <%= link_to "Add your school", new_school_path %>

</div>
