<div class="container">
	<h1><center>All schools</center></a></h1>


	<ul class="users">
		<% @schools.each do |school| %>
			<li><%= link_to school.name, school %></li>
		<% end %>	

	</ul>

	<%= link_to "New School", new_school_path %>

</div>
