<div class="container">
		<h1>This is <%= link_to @school.name, @school %></h1>
		<p>These are its <%= link_to "courses:", school_courses_path(@school) %></p>
		<ol class="microposts">
			<%= render @courses %>
		 </ol>	
</div>
