<li>
  <span class="content">
    <%= course.heading %>
  </span>
  <span class="timestamp">
    <p>Course made <%= time_ago_in_words(course.created_at) %> ago.</p> <!-- should be number of questions, number of views -->
  </span>

</li>